<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="IA-samarbeid med arbeidsgiver"/>
        <meta name="author" content="pia-pdf"/>
        <meta name="subject" content="Bistand"/>
        {{#> pia/includes/style }}
        {{/pia/includes/style}}
        <title>IA-samarbeid med arbeidsgiver</title>
    </head>
    <body>
        {{#> pia/includes/base }}
            {{#*inline "tittel"}}IA-samarbeid med arbeidsgiver{{/inline}}
        {{/pia/includes/base}}
        <p>
            Det er idag fomidlet på minside arbeidsgiver, at et IA-samarbeid med <b>{{ arbeidsgiver.navn }}</b> er startet.
        </p>
    </body>
</html>