<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Gjennomført evaluering"/>
    <meta name="author" content="pia-pdf"/>
    <meta name="subject" content="Gjennomført evaluering"/>
    {{#> pia/includes/style }}
    {{/pia/includes/style}}
    <title>Evaluering-{{ samarbeid.navn }}-{{ samarbeid.id }}</title>
</head>
<body>
{{#> pia/includes/base_header_samarbeid_dokumenter }}
    {{#*inline "tittel"}}Gjennomført evaluering{{/inline}}
{{/pia/includes/base_header_samarbeid_dokumenter}}
<br/>

<div class="samarbeidsdokument">
    <p>Gjennomført: {{ iso_to_nor_datetime innhold.fullførtTidspunkt }}</p>

    <p>Resultatene fra evalueringen er sortert på tema og spørsmål.</p>
    <p>For å ivareta anonymitet må det være minst tre svar per spørsmål. Ved mindre enn tre svar skjules antall
        deltakere og resultatene settes til null.</p>
    <br/>

    {{#each innhold.spørsmålMedSvarPerTema}}
        {{#> pia/includes/base-spørsmål-med-svar-per-tema}}
            {{#*inline "tittel"}}{{this.navn}}{{/inline}}
        {{/pia/includes/base-spørsmål-med-svar-per-tema}}
    {{/each}}
</div>
</body>
</html>