<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="IA-samarbeid med virksomhet"/>
        <meta name="author" content="pia-pdfgen"/>
        <meta name="subject" content="Bistand"/>
        {{#> pia/includes/style }}
        {{/pia/includes/style}}
        <title>IA-samarbeid med virksomhet</title>
    </head>
    <body>
        {{#> pia/includes/base-ia-samarbeid }}
            {{#*inline "tittel"}}IA-samarbeid med virksomhet{{/inline}}
        {{/pia/includes/base-ia-samarbeid}}
        <p>
            Det er idag fomidlet følgende på <i>Min side - arbeidsgiver, Forebygge fravær</i>:
        </p>
        <br />
        <div class="samarbeidstatus">
            <h2>
                Dere er i et forebyggende samarbeid med NAV
            </h2>
            Din virksomhet samarbeider med NAV om sykefraværs- og forebyggingsarbeid.
            Samarbeidet er tidsbegrenset og forpliktende.
            For mer informasjon kan du kontakte ansvarlig for sykefraværs- og forebyggingsarbeid i din virksomhet eller lokal NAV-enhet.
        </div>
    </body>
</html>